*{
    padding: 0;
    margin: 0;
}

.w-100 {
    width: 100%;
}

.f-100 {
    flex: 100%;
}

.w-80 {
    flex: 80%;
}

.w-50 {
    flex: 50%;
}

.w-33 {
    flex: 33%;
}

.w-25 {
    flex: 25%;
}

.w-20 {
    flex: 20%;
}

.vh-100 {
    min-height: 100vh;
}

.vh-60 {
    min-height: 60vh;
}

.vh-50 {
    min-height: 50vh;
}

.vh-40 {
    min-height: 40vh;
}

.vh-10 {
    min-height: 10vh;
}

.br-50 {
    border-radius: 50%;
}

.img-S {
    width: 100px;
}

.f-30 {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.m-12 {
    margin: 12px;
}

.g-60 {
    gap: 60px;
}

.g-10 {
    gap: 10px;
}

.border {
    border: 3px solid #c0c0c0;
}

.silver {
    background-color: #c0c0c0;
}

.beige {
    background-color: #d2b48c;
}

.tan {
    background-color: #e3dac9;
}

.gray {
    background-color: #acacac;
}

.blue {
    background-color: #6495ed;
}

.yellow {
    background-color: #f5c71a;
}

.green {
    background-color: #679267;
}

.red {
    background-color: #ff6347; 
}

.white {
    background-color: #FFFFFF;
}

.abs {
    position: absolute;
}

.ac {
    align-items: flex-end;
}

.hidden {
    overflow: hidden;
}

.space-around{
    justify-content: space-around;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.circleM {
    height: 100px;
    width: 100px;
}

.squareM {
    height: 150px;
    width: 200px;
}

.squareS {
    height: 75px;
    width: 100px;
}

.circleHolder {
    height: 200px;
    width: 200px;
}

.circleBox {
    height: 100px;
    width: 100px;
}

.circleMiddle {
    height: 140px;
    width: 140px;
}

.giantHolder {
    height: 400px;
    width: 500px;
}

.giantBox {
    height: 200px;
    width: 250px;
}

.giantMiddle {
    height: 240px;
    width: 240px;
}

.circleMediumBox {
    height: 100px;
    width: 200px;
} 

.squareL {
    height: 100px;
    width: 300px;
}

.squareXL {
    height: 200px;
    width: 300px;
}

.squareXXL {
    height: 300px;
    width: 300px;
}

  @media only screen and (max-width: 620px){
    .sidebar {
        display: none;
    }

  }